<!-- This is to construct the navbar and update the active state to whatever
     page it is on. -->
<head>
  <div class="navbar">
    <a class="active" href=/><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="profile_page"><i class="fa fa-fw fa-user"></i> Profile</a>
    <a href="settings_page"><i class="fa fa-fw fa-gears"></i> Settings</a>
    <a href="login_page"><i class="fa fa-fw fa-pencil-square-o"></i> Log In</a>
  </div>
</head>

{% extends 'base.html' %}

{% block content %}

<body>
  <input style="float: right; margin-left: 10px" type="button" value="Search"/>
  <input style="float: right" type="search"/>
  <h1>Posts:</h1>
  
  <p1 style="font-size:25px">Gee Buttersnaps</p1>
  <p2>10/23/22</p2>
  <br>
  <div style="text-align: left;"><img src="https://m.media-amazon.com/images/I/31vkYOOmDUL._AC_SY780_.jpg"
       alt="textbook"
       style="width:100px;" ></div>
   <br>
   <p>Hey there folks. No longer need this. Price is $100</p>
   <br><br><br>
   
  <p1 style="font-size:25px">Ovaltine Jenkins</p1>
  <p2>10/20/22</p2>
  <br>
  <img src="https://pyxis.nymag.com/v1/imgs/818/e6c/19d246504953d96038aea69f07efa32e81.rdeep-vertical.w245.jpg"
       alt="backpack"
       style="width: 100px;"
       >
   <br>
   <p>Just got a new backpack and selling this one. DM me your best offer</p>
  <hr>
  <ul>
    <p>Want to sell your own stuff?</p>
    <button>Make a post!</button>
  </ul>
</body>

{% endblock %}
