<!-- This is to construct the navbar and update the active state to whatever
     page it is on. -->
<head>
  <div class="navbar">
    <a href=/><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="active" href="profile_page"><i class="fa fa-fw fa-user"></i> Profile</a>
    <a href="settings_page"><i class="fa fa-fw fa-gears"></i> Settings</a>
    <a href="login_page"><i class="fa fa-fw fa-pencil-square-o"></i> Log In</a>
  </div>
</head>

{% extends 'base.html' %}

{% block content %}

<!-- insert code here -->

{% endblock %}
